a {
    text-decoration: none;
}

button {
    background-color: #EEF;
    text-align: right;
    width: 170px;
    height: 6%;
    background-repeat: no-repeat;
    background-position: center left;
}

body {
    background-color: #EEE;
}

.notifdiv {
    border: 1px dotted black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    background-color: #EEF;
    width: 40%;
}

.notif,
span {
    color: red;
}

header {
    text-align: center;
}

.container {
    box-shadow: 1px 1px 30px black;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    background-color: #EEF;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

form {
    text-align: center;
}

.confirm {
    margin-bottom: 2em;
    border: 1px solid #a2d246;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ebf8a4;
}

button:hover {
    background-color: rgb(151, 199, 222);
}

footer {
    text-align: center;
    margin-top: 3%;
}